*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    max-width: 100vw;
    
}
html {
  scroll-behavior: smooth;
}
h1{
    font-size: 35px;
   
}
.swiper {
    width: 100%;
    height: 250px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-text{
    position: fixed;
    top:20px;
    left: 5px;
    text-align: left;
    width: 300px;
    font-family: "Roboto";
    font-weight: bolder;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 2px rgba(27, 27, 27, 0.5); /* Contorno de 2 píxeles de ancho en azul */

  }
#header{
    width: 100vw;
    height: 90px;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
}
#header .fa-bars{
    margin-left: 37%;
    font-size: 30px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 20%;
}
.logo-header{
    width: 50%;
    
    
}
.logo-header img{
    object-fit:scale-down;
    padding: 10px;
    height: 80px;
    width: auto;
}

#header nav{
    display: none;
}
/* DropDown Menu */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .sub-menu-wrap.open-menu {
    max-height: 400px;
  }
  
  .sub-menu {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-bottom-left-radius: 10px;

    
  }
  
  .sub-menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #525252;
    padding: 12px 0;
  }
  
  .sub-menu-link p {
    width: 100%;
  }
  .sub-menu-link i {
    width: 55px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }
  
  .sub-menu-link i {
    font-size: 20px;
    transition: transform 0.5s;
  }
  
  .sub-menu-link:hover i {
    transform: translateX(5px);
  }
  
  .sub-menu-link:hover p {
    font-weight: 600;
  }
  


.home{
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    
}
section{
    margin-bottom: 50px;
}
.intro-section{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    width: 100%;
}
.intro-section p{
    color: rgb(78, 78, 78);
    margin-bottom: 20px;
    font-size: 20px;
}
.intro-section p{
    color: rgb(78, 78, 78);
}

.despa-ata{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    text-align: center;
    padding: 5px;

}
.despa-ata div{
   
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  
}
.despa-ata div:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 60%;
    border-bottom: 2px solid rgb(227 126 56);;
  }
  .despa-ata div:nth-child(2):after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 5px;
    width: 60%;
    border-bottom: 2px solid rgb(58, 75, 116);;
  }
.despa-ata p{
    margin: auto;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    left: -100px;
    /* transform: translateX(-100px); */
    opacity: 0;
  }
  100% {
    left: 0px;
    /* transform: translateX(0); */
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    right: -100px;
    /* transform: translateX(100px); */
    opacity: 0;
  }
  100% {
    right: 0;
    /* transform: translateX(0); */
    opacity: 1;
  }
}

#servicios{
  position: relative;
  top: -100px;
}
.servicios{
    
    width: 90%;
    text-align: center;
    padding: 5px;
    
}
.title-container{
    position: relative;
}
.title-container:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 5px;
    width: 45%;
    border-bottom: 2px solid rgb(227 126 56);;
  }
  .title-container::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;
    height: 5px;
    width: 45%;
    border-bottom: 2px solid rgb(58, 75, 116);;
  }

.servicios .contenedor-servicios article{
    padding-top: 20px
}
.contenedor-servicios article:nth-child(odd) i {
  font-size: 30px;
  height: 45px;
  width: 45px;
  padding-top: 2px;
  margin-right: 6px;
  border: 6px solid rgb(58, 75, 116); /* Cambia el color del borde a tu preferencia */
  background-color: rgb(58, 75, 116); /* Cambia el color de fondo a tu preferencia */
  border-radius: 100%;
  color: rgb(227, 126, 56); /* Cambia el color del ícono a tu preferencia */
}

/* Estilo para el segundo ícono */
.contenedor-servicios article:nth-child(even) i {
  font-size: 30px;
  height: 45px;
  width: 45px;
  padding-top: 2px;
  margin-right: 6px;
  border: 6px solid rgb(227, 126, 56); /* Cambia el color del borde a tu preferencia */
  background-color: rgb(227, 126, 56); /* Cambia el color de fondo a tu preferencia */
  border-radius: 100%;
  color: rgb(58, 75, 116); /* Cambia el color del ícono a tu preferencia */
}

.clientes{
    text-align: center;
    width: 90%;
    
}
.contenedor-clientes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px
    
}

.cliente{
   
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 180px;
    position: relative;
    margin: 10px;
    
}
.cliente img{
   margin: auto;
    width: 100%;
    
    max-width: 130px;
    transition: max-width 0.5s ease-in-out;
}
.zoom{
  max-width: 180px !important;
}



.cliente h4{
    background-color: gray;
    color: white;
    position: absolute;
    bottom:20px;
    display: none;
    width: 100%;
}
.cliente:hover h4{
    display: block;
}
footer{
    background-color: rgb(87, 87, 87);
   
    display: flex;
    padding-top: 20PX;
    flex-direction: column;
    align-items: center;
}
.contacto{
  color: white;
 
 
}

.map iframe{
  height: 100%;
  width: 100%;
  border: none;
}
.contacto i{
  font-size: 20px;
  border: 1px solid white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 4px;
}
.contacto a{
  text-decoration: none;
  color: white;
}
.info-contacto{
  margin-top: 5px;
  margin-bottom: 5px;
}
.dev{
  color: white;
  margin-top: 60px;
}
.dev a{
  text-decoration: none;
  color: white;
}
@media (min-width: 769px) {
    #header nav{
        display: flex;
        width: 50%;
    }
    #header nav a{
        width: 5rem;
        text-decoration: none;
        color: black;
        margin: auto;
    }
    .fa-bars{
        display: none !important;
    }
   .despa-ata{
    flex-direction: row;
   }
   .despa-ata div{
    width: 47%;
   }

   .despa-ata div:first-child::after {
    height: 60%;
    width: 100%;
    border-bottom:none;
    border-right: 2px solid rgb(58, 75, 116);;
    
  }
  .despa-ata div:nth-child(2):after {
    height: 60%;
    width: 100%;
    border-bottom:none;
    border-left: 2px solid rgb(227 126 56);;
  }

   .contenedor-servicios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.contenedor-servicios article h2 ,.contenedor-servicios article p{
    width: 42vw;
    max-width: 440px;
    padding: 2px;
}
.contacto{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 40px;
}
}